* {
    box-sizing: border-box;   
}

body {
	display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: rgb(50, 51, 48);
    padding: 30px;
    margin: 0 auto;
}

main {
    /* height: 26vmax; */
    width: 100%;
}

header {
    text-align: center;
    width: 100%;
}

header a {
    color:  rgb(50, 51, 48);
    font-weight: 700;
    text-decoration: none
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    line-height: 5vh;
    list-style: none;
    padding: 0;
    text-align: left;
}

li a {
    color:  rgb(50, 51, 48);
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    color:  rgb(38, 59, 155);
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
}

footer a {
    color:  rgb(50, 51, 48);
    font-weight: 700;
    text-decoration: none;
}