* {
    box-sizing: border-box;
}

body {
    background: url(../assets/image/rcat_ysre_211001.jpg) center/cover no-repeat fixed;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 89vh;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    margin: 0;
    text-shadow: 0.3vw 0.2vw 0 rgba(46, 46, 46, 1);
}

button {
    background: linear-gradient(rgba(74, 144, 226, 1), rgba(74, 144, 226, 0.72));
    border-width: 0.05vw;
    border-radius: 1vw;
    border-color: rgba(50, 109, 177, 1);
    box-shadow: 0.2vw 0.2vw 0 0 rgba(43, 82, 129, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
    text-shadow: 0 0.2vw 0 rgba(40, 82, 131, 1);
    width: 10vmax;
    height: 4vmax; 
  }
  
  button:hover {
    background: linear-gradient(rgba(74, 144, 226, 0.72), rgba(74, 144, 226, 1));
  }