* {
    box-sizing: border-box;
}

body {
    background: url(./assets/image/flower.jpg) center/cover no-repeat;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Condensed", sans-serif;
    overflow: auto;
    text-align: center;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2vw;
    min-height: 97vh;
    width: 100%;
}

h1 {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 4px 1px rgb(0, 0, 0);
    margin: 0;
}

form {
    background-color: rgb(125, 149, 136);
    border-radius: 0.5rem;
}

.columnn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    padding: 3vw;
    width: 77vmin;
}

label {
    align-self: flex-start;
    font-size: 1rem;
}

#name,
#weight,
#height {
    align-self: flex-start;
    border: 0.1rem solid rgb(37, 91, 78);
    border-radius: 0.5rem;
    color: rgba(36, 36, 36, 1);
    font-size: 1rem;
    padding: 0.5vw;
    width: 100%;
}

select {
    align-self: flex-start;
    border: 0.1rem solid rgb(37, 91, 78);
    border-radius: 0.5rem;
    color: rgba(36, 36, 36, 1);
    font-size: 1rem;
    padding: 0.2vw;
}

#birth-day,
#birth-month,
#birth-year {
    border: 0.1rem solid rgb(37, 91, 78);
    border-radius: 0.5rem;
    color: rgba(36, 36, 36, 1);
    font-size: 1rem;
    padding: 0.5vw;
    text-align: center;
    width: 13vmin;
}

button {
    background-color: rgb(143, 50, 68);
    border-radius: 1vw;
    border: none;
    box-shadow: 0px 10px 13px -7px rgb(0, 0, 0), 5px 5px 15px 5px rgba(0,0,0,0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 5vmin;
    width: 23vmin;
}

button:hover {
    background-color: rgb(248, 194, 192);
    color: rgba(36, 36, 36, 1);
    transition: 0.3s;
}

#message {
    background-color: rgb(197, 135, 136);
    border-radius: 1rem;
    font-size: 1rem;
    padding-left: 3vw;
    text-align: left;
    width: 77vmin;
}