* {
    box-sizing: border-box;
}

body {
    background: url(./assets/image/jsonParse.jpg) center/cover no-repeat;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Condensed", sans-serif;
    overflow: hidden;
    text-align: center;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2vw;
    background-color: rgba(112, 112, 112, 0.5);
    min-height: 97vh;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 4px 1px rgb(21, 35, 65);
    margin-top: 4rem;
}

.columnn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

textarea {
    border: 0.1rem solid rgb(105, 128, 179);
    border-radius: 0.5rem;
    color: rgba(36, 36, 36, 1);
    font-size: 1.2rem;
    padding: 1vw;
    resize: none;
}

button {
    background-color: rgb(14, 14, 13);
    border-radius: 1vw;
    border: none;
    box-shadow: 0px 10px 13px -7px rgb(0, 0, 0), 5px 5px 15px 5px rgba(0,0,0,0);
    color: rgb(255, 255, 255);
    /* color: rgba(36, 36, 36, 1); */
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 5vmin;
    width: 23vmin;
}

button:hover {
    background-color: rgb(69, 71, 82);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

#message {
    background-color: rgb(204, 207, 26);
    border-radius: 1rem;
    color: rgba(36, 36, 36, 1);
    font-size: 1.2rem;
    text-align: center;
    width: 91vmin;
}