* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

header {
    background-color: rgb(59, 94, 117);
    color: rgba(255, 255, 255, 1);
    padding: 0.5vw;
    text-align: center;
}

main {
    padding: 2vw 28vh;
}

.container {
    background-color: rgba(255, 255, 255, 1);
    border: 0.2rem solid rgb(201, 197, 197);
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 2vh;
    padding: 1.5vw;
}

.campo-entrada {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vh;
    gap: 0.5rem;
}

label {
    font-weight: 700;
}

input,
select {
    padding: 0.3vw;
    border: 0.2rem solid rgb(201, 197, 197);
    border-radius: 0.3rem;
}

.selecao {
    width: 30%;
}

.botao {
    background-color: rgb(59, 94, 117);
    border: 0;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-weight: 700;
    padding: 0.8vw;
    text-transform: uppercase;
}

.botao:hover {
    background-color: rgb(6, 46, 73);
}

#result {
    margin-top: 2vh;
}

.centro {
    text-align: center;
}


