* {
    box-sizing: border-box;
}

body {
    background: url(./image/question-psyduck.jpg) center/cover no-repeat fixed;
    overflow: hidden;
}

main {
    height: 32vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 91vh;
}

.title {
    color: rgba(98, 37, 28, 1);
    font-size: 5vw;
    text-shadow: 4px 2px 1px rgb(18 18 18);
    text-transform: uppercase;
    text-align: center;
}

ul {
    padding: 0;
}

.item {
    line-height: 6vh;
    text-align: center;
}

.item li {
    list-style: none;
}

.item a {
    color: rgb(18 18 18);
    font-size: 2vw;
    text-decoration: none;
}

.item a:hover {
    color: rgba(98, 37, 28, 1);
    text-decoration: underline;
}

footer {
    text-align: center;
    width: 100%;
}

footer a {
    color:  rgb(50, 51, 48);
    font-weight: 700;
    text-decoration: none;
}

footer a:hover {
    color:  rgb(38, 59, 155);
}