<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- #### Meta #### -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- #### Stylesheet #### -->
        <link rel="stylesheet" href="../styles/imc.css">
        <!-- #### Google Fonts #### -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- #### Title #### -->
        <title>Sorteie Um Número</title>
    </head>
    <body>
        <header>
            <h1>Sorteie Um Número</h1>
        </header>
        <main>
            <!-- #### Formulário #### -->
            <form>
                <label for="minNumber">Digite um valor mínino inteiro:</label>
                <input type="text" name="minNumber" id="minNumber" />

                <label for="maxNumber">Digite um valor máximo inteiro:</label>
                <input type="text" name="maxNumber" id="maxNumber" />

                <button class="button" type="button">Sortear</button>
            </form>

            <p id="result"></p>

        </main>
        <!-- #### Script #### -->
        <script src="../../js/random.js"></script>
    </body>
</html>