* {
    box-sizing: border-box;
}

body {
    background: url(../assets/image/imc.jpg) center/cover no-repeat;
    color: rgba(36, 36, 36, 1);
    font-family: "Roboto Condensed", sans-serif;
    overflow: hidden;
    text-align: center;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.4);
    min-height: 98vh;
    width: 100%;
}

form,
.resultMessage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

h1{
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 700;
}

#inputWeight,
#inputHeight {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    padding: 0.2rem 1rem;
}

.button {
    background-color: rgb(13, 121, 36);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    margin-top: 2vh;
    padding: 0.5rem 1rem; 
}

.button:hover {
    opacity: 1;
    transition: 2;
}

.resultMessage {
    margin: 2vw;
}

p {
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
}