* {
    box-sizing: border-box;
}

body {
    background: url(../02-string/image/question-sasuke.jpg) center/cover no-repeat fixed;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 34vh;
}

.title {
    color: rgba(84, 70, 191, 1);
    font-size: 3vw;
    text-shadow: rgb(20 20 20) 1px 1px 1px;
}

form {
    gap: 3vh;
}

input {
    border: 0.2vw solid rgba(18, 27, 42, 1);
    color: rgba(20, 20, 20, 1);
    font-size: 1.7vw;
    padding-left: 1vw;
    width: 17vmax;
    height: 2vmax;
}

.button {
    color: rgba(20, 20, 20, 1);
    cursor: pointer;
    font-size: 1.6vw;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(240, 152, 25, 1) 0%, rgba(237, 222, 93, 1)  51%, rgba(240, 152, 25, 1)  100%);
    border-color: rgba(240, 152, 25, 1);
    border-radius: 1vw;
    border-width: 0.05vw;
    width: 12vmax;
    height: 3vmax;
}

.button:hover {
    background-image: linear-gradient(to right, rgba(237, 222, 93, 1) 0%, rgba(240, 152, 25, 1)  51%, rgba(237, 222, 93, 1)  100%);
}

.text {
    color: rgba(20, 20, 20, 1);
    font-size: 1.5vw;
}

.response {
    color: rgb(130, 36, 24);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}