<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Expectativa de Vida</title>
    </head>
    <body>
        <header>
            <h1>Por Quanto Tempo Vou Viver?</h1>
            <p>Preencha seus dados para descobrir qual é a sua expectativa de vida.</p>
        </header>
        <main>
            <!-- #### Formulário #### -->
            <form>
                <fieldset>
                    <legend><h3>Qual a sua idade?</h3></legend>
                    <!-- #### Dia do aniversário #### -->
                    <label for="birth-day">Dia:</label>
                    <input type="number" name="number" id="birth-day" />
                    <!-- #### Mês do aniversário #### -->
                    <label for="month-birth">Mês:</label>
                    <input type="number" name="number" id="month-birth" placeholder="Mês" />
                    <!-- #### Ano do aniversário #### -->
                    <label for="birth-year">Ano:</label>
                    <input type="number" name="number" id="birth-year" />
                </fieldset>
                
                <h3>Selecione seu gênero:</h3>
                <!-- Feminino -->
                <label for="gender-female">Feminino</label>
                <input type="radio" id="gender-female" name="gender" value="female">
                <!-- Masculino -->
                <label for="gender-male">Masculino</label>
                <input type="radio" id="gender-male" name="gender" value="male">

                <!-- #### Botão #### -->
                <button type="submit">Verificar</button>
            </form>
            <p id="response"></p>
        </main>
        <!-- #### Script #### -->
        <script src="../../js/age.js"></script>
    </body>
</html>