<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- #### Meta #### -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- #### CSS #### -->
        <link rel="stylesheet" href="../styles/form.css">
        <!-- #### Title #### -->
        <title>Compare Números</title>
    </head>
    <body>
        <header>
            <h1>Comparação Entre Dois Números</h1>
            <p>Descubra se o primeiro número é maior, menor ou igual ao segundo número.</p>
        </header>
        <main>
            <!-- #### Formulário #### -->
            <form>
                <label for="firstNumber">Digite o primeiro número:</label>
                <input type="number" name="first-number" id="first-number" />

                <label for="secondNumber">Digite o segundo número:</label>
                <input type="number" name="second-number" id="second-number" />

                <button type="submit">Comparar</button>
            </form>
            <p id="response"></p>
        </main>
        <!-- #### Script #### -->
        <script src="../../js/form.js"></script>
    </body>
</html>