<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Descubra</title>
    </head>
    <body>
        <header>
            <h1>Comparação Entre Duas Palavras </h1>
            <p>Descubra se o tamanho da primeira palavra é maior, menor ou igual ao da segunda palavra.</p>
        </header>
        <main>
            <!-- #### Formulário #### -->
            <form>
                <label for="first-string">Digite a primeira palavra:</label>
                <input type="text" name="first-string" id="first-string" />

                <label for="secondString">Digite a segunda palavra:</label>
                <input type="text" name="second-string" id="second-string" />

                <button type="submit">Comparar</button>
            </form>
            <p id="response"></p>
        </main>
        <!-- #### Script #### -->
        <script src="../../js/strings.js"></script>
    </body>
</html>